# URL base del backend (Spring Boot)
VITE_API_URL=http://localhost:8080

# Keycloak (Authorization Code + PKCE)
VITE_KEYCLOAK_URL=http://localhost:8081
VITE_KEYCLOAK_REALM=fullstacktesting
VITE_KEYCLOAK_CLIENT_ID=frontend
